*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleleapis.com/css2/family=Poppins');

header{
    width: 100vw;
    height: 100vh;

    background-image: url('./img/header-bg.png');
    background-position: bottom;
    background-size: cover;

    display: flex;
    flex-direction: column;

    align-it                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ems: center;
    justify-content: center;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
}

.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.line{
    width: 150px;
    height:4px;
    background-color: rgb(197, 32, 82);
    margin:10px auto;
    border-radius: 5px;
}

.ctn{
    padding:8px 15px;
    background-color: rgb(235, 15, 88);
    border-radius: 30px;
    color:whitesmoke;
}

.navbar{
    display: flex;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;

}


.nav-link{
    display: flex;
    align-items: center;
}



.nav-link li{
    margin: 0px 30px;
    list-style: none;
}

.nav-link li a{
    color: whitesmoke;
    text-decoration: none;
}

.title{
    text-align: center;
    position: absolute;
    top:110%;
    left: 40%;
}

.row{
    position: relative;
    top:20%;
    left:0%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.row img{
    padding-top: 200px;
    width: 470px;
    

}

.col{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    margin: 0px 80px;
    padding: 0px;
}

@media  only screen and(max-width:850px){
      .navbar{
          padding: 0;
      }

      .logo{
          position: absolute;
          top:30px;
          left:30px;
      }

      .nav-link{
         
          flex-direction: column;
          width: 100%;
          height:100vh;
          justify-content: center;
          background-color: rgb(31, 31, 219);
      }
}